iframe {
  border: none;
}

html {
  height: 100%;
  zoom: 0.9;
}

@font-face {
  font-family: 'DymaxionScript';
  src: url(./assets/fonts/DymaxionScript.woff);
  font-size: 26px;
}

@font-face {
  font-family: 'Harting';
  src: url(./assets/fonts/Harting.woff);
  font-size: 26px;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  background: rgb(22, 35, 43);
  background: linear-gradient(149deg, rgba(22, 35, 43, 1) 41%, rgba(193, 135, 91, 1) 100%);
  background-attachment: fixed;

}

/* 2 col layout used on credits page  */
.col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-right,
.col-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.col-right {
  text-align: left;
}

.col-left {
  text-align: right;
  margin: 0 20px 0 0;
}

/* default font sizes and spacings  */
h1,
h2,
h3 {
  margin: 0 0 30px;
  color: #eda772;
  text-align: center;
}

h1 {
  font-size: 42px;
  padding-top: 50px;
  margin: 0;
  color: white;
  font-family: 'DymaxionScript';
}

h2 {
  font-family: 'Harting';
  font-size: 18px;
  padding-top: 40px;
  max-width: 320px;
  margin: 0 auto;
}

h3 {
  margin: 14px 0 5px;
  font-size: 20px;
}

.poem {
  color: #f7d5bc;
  text-align: center;
  font-size: 18px;
  font-family: 'Harting';
  max-width: 320px;
  margin: 0 auto;
  padding: 0 0 100px;
}

/* utility classes for justifying text  */
.center {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.side-icons {
  position: absolute;
  bottom: -108vh;
  left: 5vw;
}

.icon--github {
  font-size: 0;
  /* visually hides link text */
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  background: url(./assets/img/icon-github.png) no-repeat 0px 0px / contain;
  display: inline-block;
  margin: 0 25px 8px 0;
  border-right: 3px solid black;
  padding: 0 25px 0 0;
}

#sound-toggle {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

@media (min-width: 700px) {
  h1 {
    font-size: 94px;
  }

  h2 {
    font-size: 27px;
    max-width: none;
  }

  .poem {
    font-size: 24px;
    max-width: none;
    padding: 40px 0 100px;
  }
}