iframe {
  border: none;
}

html {
  height: 100%;
  zoom: 0.9;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #c1875b;
  /* Old browsers */
  background: -moz-radial-gradient(center,
      ellipse cover,
      #c1875b 0%,
      #16232b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, #c1875b),
      color-stop(100%, #143));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center,
      ellipse cover,
      #c1875b 0%,
      #16232b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center,
      ellipse cover,
      #c1875b 0%,
      #16232b 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center,
      ellipse cover,
      #c1875b 0%,
      #16232b 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center,
      #c1875b 0%,
      #16232b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1875b', endColorstr='#16232b', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-perspective: 2300px;
  -moz-perspective: 2300px;
  -ms-perspective: 2300px;
  -o-perspective: 2300px;
  perspective: 2300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* 2 col layout used on credits page  */
.col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-right,
.col-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.col-right {
  text-align: left;
}

.col-left {
  text-align: right;
  margin: 0 20px 0 0;
}

/* default font sizes and spacings  */
h1,
h2,
h3 {
  margin: 0 0 30px;
  color: #eda772;
  text-align: center;
  font-family: 'American Typewriter';
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 25px;
}

h3 {
  margin: 14px 0 5px;
  font-size: 20px;
}

.poem {
  color: #eda772;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

/* utility classes for justifying text  */
.center {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.side-icons {
  position: absolute;
  bottom: -108vh;
  left: 5vw;
}

.icon--github {
  font-size: 0;
  /* visually hides link text */
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  background: url(./assets/img/icon-github.png) no-repeat 0px 0px / contain;
  display: inline-block;
  margin: 0 25px 8px 0;
  border-right: 3px solid black;
  padding: 0 25px 0 0;
}

#sound-toggle {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}