html {
  /* width: 50%; */
  width: 1000px;
  height: 100%;
  font-family: Times;
  font-size: 16px;
  overflow: hidden;
}

body {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: #f1d8c1; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #f1d8c1 0%,
    #f9b9c3 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #f1d8c1),
    color-stop(100%, #143)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #f1d8c1 0%,
    #f9b9c3 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #f1d8c1 0%,
    #f9b9c3 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #f1d8c1 0%,
    #f9b9c3 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #f1d8c1 0%,
    #f9b9c3 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d8c1', endColorstr='#F9B9C3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-perspective: 2300px;
  -moz-perspective: 2300px;
  -ms-perspective: 2300px;
  -o-perspective: 2300px;
  perspective: 2300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.button__navigation {
  /* position: absolute; */
  right: 50px;
  /* width: 100%; */
}

.button__container {
  margin: 0 auto;
  width: 500px;
}

#myBook__container {
  /* width: 60%;
  position: relative;
  display: inline-block; */
}

/* #sidepanel__container {
  width: 40%;
  display: inline-block;
} */

/* page layout  */
.row {
  display: flex;
}
.column-60 {
  flex: 60%;
}
.column-40 {
  flex: 40%;
}

/* 2 col layout used on credits page  */
.col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col-right,
.col-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.col-right {
  text-align: left;
}
.col-left {
  text-align: right;
  margin: 0 20px 0 0;
}

#myBook {
  top: 120px;
  right: 500px;
  transition: right 0.5s;
  -webkit-transform: rotate3d(-1.8, -1, 0.6, 20deg);
  -moz-transform: rotate3d(-1.8, -1, 0.6, 20deg);
  -ms-transform: rotate3d(-1.8, -1, 0.6, 20deg);
  -o-transform: rotate3d(-1.8, -1, 0.6, 20deg);
  transform: rotate3d(-1.8, -1, 0.6, 20deg);
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}

#myBook .book > div:first-child {
  -webkit-transform: rotateY(-150deg);
  -moz-transform: rotateY(-150deg);
  -ms-transform: rotateY(-150deg);
  -o-transform: rotateY(-150deg);
  transform: rotateY(-150deg);
}

.book,
.book > div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}

.book > div {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* Front of a page */
.book > div > div:first-child {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ffffff),
    color-stop(100%, #e5e5e5)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffffff 0%, #e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 700px;
  height: 600px;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0.02px);
  -moz-transform: translate3d(0px, 0px, 0.02px);
  -ms-transform: translate3d(0px, 0px, 0.02px);
  -o-transform: translate3d(0px, 0px, 0.02px);
  transform: translate3d(0px, 0px, 0.02px);
  padding: 30px;
  padding-left: 40px;
  padding-bottom: 80px;
  border-left: 2px solid #000;
}

/* Back of a page */
.book > div > div:last-child {
  background-color: white;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ffffff),
    color-stop(100%, #e5e5e5)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffffff 0%, #e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 700px;
  height: 600px;
  position: absolute;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  overflow: hidden;
  padding: 30px;
  padding-right: 40px;
  padding-bottom: 80px;
  border-right: 2px solid #000;
}

/* covers */
.book > div:first-child > div:first-child,
.book > div:last-child > div:last-child {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #8c9ccc 0%,
    #080f40 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #8c9ccc),
    color-stop(100%, #080f40)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #8c9ccc 0%,
    #080f40 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #8c9ccc 0%,
    #080f40 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #8c9ccc 0%, #080f40 100%); /* IE10+ */
  background: linear-gradient(135deg, #8c9ccc 0%, #080f40 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C9CCC', endColorstr='#080f40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #000;
  border: 2px solid #000;
  margin-left: -1px;
  margin-top: -1px;
}

h1 {
  margin-top: 200px;
  font-family: Cochin, sans-serif;
}

.book-pages p {
  text-align: left;
}

h3 {
  margin: 14px 0 5px;
}
